<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <title>Login</title>
</head>
<body>

<div class="container">
    {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
    <ul id="messages" class="list-unstyled">
        {% for mensagem in mensagens %}
            <li class="alert alert-success">{{mensagem}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Faça seu login</h1>

    <form action="{{ url_for('autenticar') }}" method="POST">
        <label>Nome do usuário:</label>
        <input class="form-control" type="text" name="usuario" required>

        <label>Senha:</label>
        <input class="form-control" type="password" name="senha" required>

        <button class="btn btn-primary" type="submit">Entrar</button>

    </form>

    </div>
</body>
</html>